/* lightbox
----------------------------------*/

.ui-lightbox-container {
	position: absolute;
	z-index: 1000;
}

.ui-lightbox {
	/* for IE7 */
	-ms-interpolation-mode: bicubic;
	z-index: 1002;
	position: relative;
	width: 100%;
}

.ui-loading-indicator {
	z-index: 1001;
	position: absolute;
	text-indent: -10000px;
	width: 38px;
	height: 38px;
	background: white url(images/ajax-loader.gif) no-repeat 3px 3px;
}

.ui-lightbox-shadow {
	position: absolute;
	top: -15px;
	left: -15px;
}

/* overlay
----------------------------------*/
.ui-dialog-overlay {
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  background: #000000;
}
