// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding.sass
@import compass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

+global-reset
+blueprint-typography
+blueprint-scaffolding

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box

form
  +blueprint-form


body
  margin-top: 36px
  margin-bottom: 36px
  background-color: #eee

#container-wrapper

#container
  +container
  +border-radius
  +box-shadow
  background-color: white
  padding: 18px
  .section
    +clearfix
    +showgrid


h1
  +column(8)
  font-size: 6em
  line-height: 1.25em
  height: 1.25em
  margin-bottom: 0
  .small
    font-size: 12px
    line-height: 90px


  a
    +hover-link


h2


h3
  text-align: center


a

p
  font-family: "Lucida Sans", "Lucida Grande"


.description
  clear: left
  +clearfix
  font-style: italic
  p
    +prepend-top


.download
  +float-right
  a
    +column(2)
    &:last-child
      +last
  img
    display: block



pre
  font-size: 12px
  +box
  background-color: rgba(78,135,236,.25)


hr
  +colborder


.footer
  text-align: center
  padding-top: 36px
  font-style: italic


#gallery,#dom,#quicktime,#ahah,#oembed,#mixed
  +column(8, true)
  +prepend(4)
  +append-bottom
  padding:
    bottom: 26px
  margin:
    bottom: 9px
  h2,p.usage
    +pull(4)
  h2
    margin:
      top: 54px
      bottom: 0
  p.usage
    +column(4)
    font-family: monospace
    font-size: 11px
    line-height: 18px
    padding:
      top: 108px
    margin:
      bottom: 0
  ul
    +reset-box-model
  li
    +column(2)
    line-height: 90px
    text-align: left
    &:nth-child(4n)
      +last
    img
      vertical-align: middle
      +box-shadow(#ccc)
    a
      background-color: rgba(255,255,255,0.25)
      display: block

#dom,#quicktime,#ahah,#oembed
  li
    +column(3)
  a
    line-height: 90px
    text-align: left
    img
      vertical-align: middle

#figure1
  +clearfix
  background-color: rgba(255,255,255,0.75)
  img
    +span(7)
    height: auto
    display: block
  .legend
    margin: 18px
    font-size: 10px
    line-height: 18px

.kleenex
  +clearfix
  .ui-dialog-content
    padding:
      left: 435px
  .video
    margin:
      left: -425px
  h1
    font-size: 12px
    font-weight: bold
  p,h1

